@font-face {
	font-weight: 300;
	font-family: Gotham;
	src: url('./Gotham-Light.otf');
}

@font-face {
	font-weight: 400;
	font-family: Gotham;
	src: url('./Gotham-Book.otf');
}

@font-face {
	font-weight: 500;
	font-family: Gotham;
	src: url('./Gotham-Medium.otf');
}

@font-face {
	font-weight: 700;
	font-family: Gotham;
	src: url('./Gotham-Bold.otf');
}
