.header {
	max-width: var(--max-width);
	width: 100%;
	height: 120px;
	margin: 0 auto;
	padding: var(--padding-general);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;

	.logo {
		max-width: 211px;
		max-height: 47px;
		width: 100%;
		height: 100%;
	}

	.menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;

		.item {
			width: 147px;
			display: flex;
			align-items: center;
			justify-content: center;

			.link {
				font-family: var(--font-gotham);
				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
				transition: 0.5s color;

				&:hover {
					color: var(--font-color-primary);
				}
			}
		}
	}

	.btn {
		padding: 20px 30px;

		font-family: var(--font-gotham);
		font-size: 18px;
		font-weight: 500;
		color: var(--font-color-white);

		background-color: var(--background-primary);
		border-radius: var(--border-radius-btn);

		&.phone {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}
	}
}
